@import "variables";
@import "functions";
@import "fonts";
@import "utilities";
@import "scrollbar";

body {
    margin: 0;
    background-color: $light-color;
    font-family: $persian-font;
    font-size: 1.2rem;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;

    li {
        margin: 1.25rem 1rem;

        a {
            text-decoration: none;
            color: $light-color;
    
            &::after {
                content: "";
                display: block;
                background-color: $light-color;
                width: 100%;
                height: 3px;
                border-radius: 5px;
                @include transition(all , 0.3s);
                transform: scale(0);
                transform-origin: right;
                opacity: 0;
            }

            &:hover::after {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}

.nav-icon {
    font-family: $english-font;
    // margin: 10px 0px 5px;

    .github-link {
        text-decoration: none;
    }

    .icon-1 {
        color: $light-color;
        @include transition(all, 0.3s);
    }

    .icon-2 {
        color: $primary-color;
        @include transition(all, 0.3s);
    }

    &:hover {
        .icon-1 {
            filter: drop-shadow(0px 0px 10px $light-color);
        }

        .icon-2 {
            filter: drop-shadow(0px 0px 10px $primary-color);
        }
    }
}

#menu-trigger {
    color: $light-color;
    font-size: 2rem;
    border: 2px solid $light-color;
    border-radius: 10px;
    padding: 7px 14px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include transition(all, 0.3s);

    &:hover {
        background-color: $light-color;
        color: $dark-color;
    }

    &:active {
        transition: none;
        background-color: $dark-color;
        color: $light-color;
    }
}



#hidden-nav-base {
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    @include transition(all, 0.5s);
}

#hidden-nav-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    background-color: $light-color;
    @include transition(all, 0.5s);
    background: linear-gradient(rgba(2, 136, 209, 0.8), rgba(225, 225, 225, 0.8), rgba(2, 136, 209, 0.8)), url("../pics/navbar.jpg");
    background-size: cover;
    background-position: center;
    transform: scale(0 , 1);
    transform-origin: left;
}

.hidden-nav-list {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    li {
        margin: 10px 0px;

        a {
            text-decoration: none;
            color: $dark-color;

            &::after {
                content: "";
                display: block;
                background-color: $dark-color;
                width: 100%;
                height: 3px;
                border-radius: 5px;
                @include transition(all , 0.3s);
                transform: scale(0);
                transform-origin: right;
                opacity: 0;
            }

            &:hover::after {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}



.div-header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(27, 27, 27, 0.7), rgba(27, 27, 27, 0.7)), url("../pics/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    box-sizing: border-box;
}

.header-box {
    color: $light-color;
    text-align: center;
    padding: 25px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        font-size: 2rem;
    }

    p {
        margin: 10px auto;
    }

    .header-link {
        text-decoration: none;
        background-color: $primary-color;
        color: $light-color;
        margin-top: 12px;
        padding: 8px 16px;
        @include transition(all, 0.3s);

        &:hover {
            background-color: $dark-color;
            box-shadow: 0px 0px 10px $light-color;
        }

        &:active {
            box-shadow: none;
            transition: none;
        }
    }
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-gap {
    gap: 2.5rem 15px;
}

.transparent-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .card-icon {
        font-size: 2rem;
        color: $primary-color;
    }

    .card-header {
        font-size: 1.25rem;
        font-weight: bold;
        margin: 5px 0px;
    }

    .card-text {
        font-size: 1.15rem;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px;

    .card-icon {
        font-size: 3.5rem;
    }

    .card-header {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0px 0px 5px;
        
        &::selection {
            background-color: $dark-color !important;
            color: $primary-color !important;
        }
    }

    .card-text {
        font-size: 1.3rem;
        font-weight: bold;
        
        &::selection {
            background-color: $dark-color !important;
            color: $primary-color !important;
        }
    }

    &:nth-child(n) {
        background-color: $primary-color;
        color: $light-color;
    }

    &:nth-child(2n) {
        background-color: $grey-color;
        color: $dark-color;
    }
}

.circle-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .card-header {
        font-size: 1.25rem;
        font-weight: bold;
        margin: 15px 0px 5px;
    }

    .card-text {
        font-size: 1.15rem;
    }
}

.circle-btn {
    font-size: 4rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none !important;
    background-color: $dark-color;
    color: $light-color;
    position: relative;

    i {
        margin: 0 !important;
        padding: 0 !important;
    }

    .little-circle {
        font-family: $persian-font;
        font-size: 1.5rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-color;
        color: $dark-color;
        position: absolute;
        top: 0;
        left: 100%;
        transform: translate(-100% , 0);
    }
}

#footer {
    background-color: $dark-color;
    color: $light-color;
    margin: 4.5rem 0px 0px;
    padding: 20px 5px;
    overflow: hidden;

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0px 1.5rem;
        box-sizing: border-box;

        .copyright-section {
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                margin-left: 10px;
            }

            .copyright-link {
                text-decoration: none;
                color: $primary-color;
                margin: 0px 5px;
            }
        }

        .social-media-section {
            display: flex;
            justify-content: center;
            align-items: center;

            .social-media-icon {
                font-size: 1.5rem;
                text-decoration: none;
                color: $light-color;
                width: 45px;
                height: 45px;
                border: 2px solid $light-color;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0px 10px;
                @include transition(all , 0.3s);

                &:hover {
                    color: $primary-color;
                    border-color: $primary-color;
                }
            }
        }
    }
}

@import "media";
